h1 {
    text-align: center;
}

hr {
    
        border-width: 1px;
        border-style: solid;
}



h4 {
        text-align: center;
        font-size: 35px;
        text-decoration: underline;
}

h2 {
    text-decoration: underline;
}

.boxes {

    max-width: 1050px;
    max-height: 500px;
    display: inline-block;
    margin-left: 150px;
   
   

}